// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main  .jumbotron {
background-image: url(http://imgur.com/a/Zfv9j);
background-size:cover;
background-position: center center;
min-height:600px;
width:100%
}